.panel-venue {
    height: 300px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.panel-heading {
    text-align: center;
}

.panel-heading a {
    color: white;
}

.panel-heading span {
    font-size: 1.5em;
}

.panel-venue .panel-footer {
    text-align: center;
}