body {
    --box-shadow: 0 0 10px #aaaaaa;
    --default-margin: 20px;
}

.App-header {
    height: 80px;
    padding: 5px;
    margin-bottom: var(--default-margin);
    box-shadow: var(--box-shadow);
    text-align: center;
}
